<div id="homeViewContainer">
    <div id="userInputContainer" class="container">
        <form name="frm">
        <!-- Main Form Inputs -->
        <div class="form-group row">
               <label for="investableUniverse" class="col-sm-2 col-form-label">Investable Universe</label>
               <select ng-model="investableUniverse" class="c-form-profession form-control col-sm-3" required>
                   <option value="usEquity">US Equities</option>
                   <option value="internationalEquity">International Equities</option>
                   <option value="commodities">Commodities</option>
                   <option value="foreignExchange">Foreign Exchange</option>
               </select>
        </div>
        <div class="form-group row">
              <label for="transaction_costs" class="col-sm-2 col-form-label">Transaction Cost</label>
              <select ng-model="transaction_costs" class="c-form-profession form-control col-sm-3" required>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
              </select>
        </div>
        <div class="form-group row">
               <label for="objectiveFunction" class="col-sm-2 col-form-label">Objective Function</label>
               <select ng-model="objectiveFunction" name="profession" class="c-form-profession form-control col-sm-3" required>
                   <option value="Sharpe Ratio">Sharpe Ratio</option>
               </select>
        </div>
        <div class="form-group row">
               <label id="rebalancingFrequency" for="frequency" class="col-sm-2 col-form-label">Rebalancing Frequency</label>
               <select ng-model="frequency" name="frequency" class="c-form-profession form-control col-sm-3" required>
                   <option value="monthly">Monthly</option>
               </select>
        </div>
        <div class="form-group row">
               <label for="benchmark" class="col-sm-2 col-form-label">Benchmark</label>
               <select ng-model="benchmark" name="profession" class="c-form-profession form-control col-sm-3" required>
                   <option value="sp500Benchmark">S&P 500</option>
                   <option value="internationalEquityBenchmark">International Equity Benchmark</option>
                   <option value="usTreasuryBenchmark">US 10 Year Treasury</option>
                   <option value="commoditiesBenchmark">Commodities Benchmark</option>
               </select>
        </div>
        <!-- Datepicker Start Date -->
        <div id="startDatepicker" class="input-group date" data-provide="datepicker">
            <label for="startDate" class="col-form-label">Start Date</label>
            <input type="text" placeholder="mm/dd/yyyy" class="col-sm-3 form-control" name="startDate" id="startDateFieldInput" ng-model="startDate" required>
            <div class="input-group-addon" id="startDateFieldInputLogo">
            </div>
        </div>
        <!-- Datepicker End Date -->
        <div class="input-group date" data-provide="datepicker">
            <label for="endDate" class="col-form-label">End Date</label>
            <input type="text" placeholder="mm/dd/yyyy" class="col-sm-3 form-control" name="endDate" id="endDateFieldInput" ng-model="endDate" required>
            <div class="input-group-addon" id="endDateFieldInput">
            </div>
        </div>

            <!-- Submit Button -->
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <button ng-click="frm.$valid && getData(investableUniverse, transaction_costs, objectiveFunction, frequency, benchmark, startDate, endDate);
                frm.$valid &&  changeView(); frm.$invalid && invalidFormClick()" id="createChartButton" type="button" class="btn btn-primary">Create Chart</button>
              </div>
            </div>
                <p class="text-center" id="footerTextBottom"><a target="_blank" href="https:www.yahoo.com"> Legal Disclaimer Link</a></p>
          </form>
    </div>
</div>
