.header{
    background-color: #66A8EA;
    margin: 0 auto;
    height: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#uncImageSVG{
    margin-left: 1070px;
    margin-top: 10px;
    height: 80px;
    width: 300px;
    position: absolute;
}
#qfeLogo{
    position: absolute;
    margin-left: 45px;
    margin-top: 5px;
    height: 90px;
    width: 200px;
}
#headerText{
    height: 40px;
    width: 400px;
    position: absolute;
    color: #fff;
    font-size: 2em;
    margin-top: 30px;
    margin-left: 1000px;
    font-family: 'Comfortaa', cursive;
}
/* Navbar Styling */
.navbar {
    height: 30px;
    font-size: .8em;
    margin-top: 100px;
    background-color: #E9E9E9 !important;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.navbar-nav:first-child{
    margin-left: 0px;
}
 /* End Navbar Styling */
 #headingPadder{
     padding-top: 180px;
     padding-bottom: 40px;
 }
 #userInputContainer{
     margin-left: 470px;
     padding-top: 200px;
     height: 500px;
 }
 #assetInputField{
     width: 285px;
     margin-left: -15px;
 }
 #myChart{
     height: 500px !important;
     width: 900px !important;
 }
 #createChartButton{
     margin-left: -15px;
     background-color: #66A8EA !important;
     border: none;
 }
 #createChartButton:hover{
     background-color: #3672CC !important;
     border: none;
 }
 #chart1Container{
     display: inline-block;
     padding-top: 30px;
     height: 400px;
     width: 700px;
 }
 #chart2Container{
     display: inline-block;
     padding-top: 30px;
     height: 400px;
     width: 700px;
 }
 #graphViewContainer{
 padding-top: 150px;
}
